{% extends 'base.html.twig' %}

{% block body %}
<h2>Liste des stages par entreprise : </h2>

  <ul>
    {% for entreprise in entrepriseList %}
    <li>{{entreprise.nom}}</li>
    <ul>
      {% for stage in entreprise.stages %}
      <li><a href="{{path('pro_stage_stages', {idstage:stage.id})}}">{{stage.titre}}</a><</li>
      {% endfor %}
    </ul>
    {% endfor %}
  </ul>
{% endblock %}
