{% extends 'base.html.twig' %}

{% block body %}
<h2>Liste des stages par Formation : </h2>

  <ul>
    {% for formation in formationList %}
    <li>{{formation.intitule}}</li>
    <ul>
      {% for stage in formation.stages %}
      <li><a href="{{path('pro_stage_stages', {idstage:stage.id})}}">{{stage.titre}}</a></li>
      {% endfor %}
    </ul>
    {% endfor %}
  </ul>
{% endblock %}
