{% extends 'base.html.twig' %}

{% block body %}
<h1>Bienvenue sur ProStage ! </h>
  <h1> Cette page affichera des la liste des formations de l'IUT  </h1>

  <ul>
    <li>form1</li>
      <ul>
      <li>stage 1</li>
      <li>stage 2</li>
      </ul>
    <li>form2</li>
      <ul>
      <li>stage 1</li>
      <li>stage 2</li>
      </ul>
    <li>form3</li>
      <ul>
      <li>stage 1</li>
      <li>stage 2</li>
      </ul>
  </ul>
{% endblock %}
